[alias]
	# see http://www.durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	# ==========================================================================

	co = checkout
	br = branch -v
	ba = branch -va
	cm = commit -v
	ru = remote update
	nlog = log --name-status --decorate
	gr = log --pretty=oneline --abbrev-commit --decorate --graph

	# View the current working tree status using the untracked mode
	st = status -u

	# List commits in short form, with colors and branch/tag annotations
	ls   = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ls5  = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -5
	ls10 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -10

	# List commits showing changed files
	ll   = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ll5  = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat -5
	ll10 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat -10

	# List with no colors if you need to chain the out put with Unix pipes
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"

	# Show all commits on all branches that aren't pushed yet
	# see : http://stackoverflow.com/questions/2016901/viewing-unpushed-git-commits
	unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline

	# View your recently used branches with `git latest`
	# see : https://twitter.com/wesbos/status/692012780598112256
	latest = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'

  # Share your local repo
  share = "!git daemon --reuseaddr --verbose  --base-path=`git rev-parse --show-toplevel` --export-all `git rev-parse --show-toplevel`/.git"

  # hub pull-request
  pr = pull-request

[user]
	name = Olivier Audard
	email = olivier@audard.net

[core]
	excludesfile = ~/.gitignore-global
	whitespace = trailing-space,space-before-tab,tab-in-indent
	editor = subl -n -w

[rerere]
	enabled = true

[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

[merge]
	tool = vimdiff
	summary = true
